img {
    max-width: 100%;
}

.header-tags {
    a.tag {
        margin-left: 5px;
        margin-right: 15px;
        white-space: nowrap;
    }


}

.content {
    max-width: 600px;
    margin: auto;
    font-size: 17px;
    line-height: 1.6;
    margin-top: 90px;
    position: relative;

    @media (max-width: 800px) {
        margin-top: 75px;
    }
}

.markdown-preview-view pre.mermaid {
    background: var(--color-base-00);
    border-radius: 25px;
    padding: 10px;
}


ul.task-list {
    list-style: none;
    padding-left: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.sidebar {
    margin-right: 30px;
}

.sidebar-container {
    padding-right: 0px;
    margin: 0px 20px;

    & > .toc {
        border: 1px solid var(--color-base-30);
    }
}

.toc {
    padding: 0px;
    margin-top: 10px;
    background-color: var(--color-base-10);

    ol {
        list-style: none;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    & > ol {
        padding: 0 20px;
        border-left: none;
    }

}

.toc-container {
    font-size: 1rem;
    max-height: 220px;
    overflow-y: auto;
    border: 0px;
    border-left: 0px;
    ul {
        list-style-type: none;
        padding-inline-start: 15px !important;
        margin-top: 0;
        margin-bottom: 0;
    }
    ul:not(:first-child) {
        margin-bottom: 3px;
    }

    li {
        padding-top: 4px;
        &::before {
            color: var(--text-normal);
            font-size: 0.8rem;
        }
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.toc-title-container {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid var(--color-base-30);
    .toc-title {
        margin: 10px;
        font-size: 18px !important;
        padding: 3px 10px 3px 10px;
        border-radius: 10px 10px 0 0;
    }
}

.backlinks {
    flex: 1;
    margin: 10px 0px 30px 0px;
    border: 1px solid var(--color-base-30);
    border-radius: var(--radius);
    padding: 10px;
    background-color: var(--color-base-10);

    .backlink-title {
        margin: 4px 0;
        font-size: 18px !important;
        padding: 3px 10px 3px 10px;
        color: var(--h6-color);
    }
}

.backlink-list {
    border-left: 0px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.backlink-card {
    padding: 3px 10px 3px 10px;
    margin-left: 0px;
    color: var(--text-normal);
    i {
        font-size: 0.8rem;
    }

    .backlink {
        margin-left: 0;
    }

    svg.svg-icon {
        height: 0;
        width: 0;
        stroke-width: 0;
    }
}

.no-backlinks-message {
    font-size: 0.8rem;
    color: var(--text-normal);
}

@media (max-width: 1400px) {
    .sidebar {
        margin: auto !important;
        border-top: 0px;
    }

    .sidebar-container {
        flex-direction: column;
    }

    .toc {
        display: revert;
    }
}

@media (max-width: 800px) {
    .sidebar-container {
        flex-direction: column;
    }
}

.navbar {
    background-color: transparent; /* #f2e3e3 */
    max-width: calc(var(--nav-width) + var(--gap)* 2);
    margin: auto;
    position: fixed;
    padding: 5px 5px;

    @media (max-width: 800px) {
        h1 {
            font-size: 24px;
        }
    }

    .navbar-inner {
        h1 {
            font-size: 24px !important;
            color: var(--text-normal);
            background-color: rgba(250,248,242,.9); /* #faf8f2 */
            box-shadow: 0px 0px 7px 7px rgba(250,248,242,.9); /* #faf8f2 */
            border-radius: 20px;
            padding: 0px 15px;

            &:hover {
                background-color: rgba(250,248,242,.85); /* #faf8f2 */
                border: 0px solid var(--tag-border-color-hover);
                box-shadow: 0px 0px 10px 5px rgba(250,248,242,.85); /* #faf8f2 */
            }
        }

    }

    .search-button {
        margin: 10px 30px 10px 25px;

        @media (max-width: 800px) {
            margin: 10px 35px 10px 25px;
        }

        @media (max-width: 767px) {
            margin: 10px 15px 10px 25px;
        }
    }
}

.fullpage-overlay {
    background-color: rgba(0, 0, 0, 0.3);
}

.search-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 15;
    height: 100%;
    justify-content: center;
    display: none;
}

.search-container.active {
    display: flex;
}

.search-box {
    transform: translateY(100px);
    background-color: var(--background-primary);
    max-width: 80%;
    width: 900px;
    border-radius: 15px;
    padding: 10px;
    height: fit-content;
}

.search-box input {
    font-size: 1rem;
}


#search-results .searchresult {
    background-color: var(--color-base-20);
    font-size: 1rem;
    cursor: pointer;

    &.active {
        border: 2px solid var(--text-accent);
    }
}

.searchresult a.tag {
    margin-left: 0px;
    margin-right: 10px;
    box-shadow: 0px 0px;
    background-color: var(--color-berry-3);
    color: var(--color-base-20);
    border: var(--border-width) solid var(--color-berry-4);
    
    &:hover {
        box-shadow: 0px 0px;
        background-color: var(--color-berry-3);
        color: var(--color-base-20);
        border: var(--border-width) solid var(--color-berry-4);
    }
}

.search-link {
    margin-bottom: 0px;
    font-size: 1.2rem;
}

.search-button {
    background-color: rgba(250, 248, 242, .9);
    border: 0px solid var(--color-cloud-2);
    box-shadow: 0px 0px 7px 4px rgba(250, 248, 242, .9);

    &:hover {
        background-color: rgba(250,248,242,.85); /* #faf8f2 */
        border: 0px solid var(--tag-border-color-hover);
        box-shadow: 0px 0px 10px 5px rgba(250,248,242,.85); /* #faf8f2 */
    }
}

.timestamps {
    margin-top: 5px;
}


@media (min-width: 767px) {
    ::-webkit-scrollbar {
        width: 17px
    }
    
    ::-webkit-scrollbar-thumb {
        background: var(--color-base-40);
        border: 2px solid var(--color-base-30);
        border-radius: var(--radius);
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: var(--color-base-30)
    }
    
    /* Track */
    
    ::-webkit-scrollbar-track {
        background-color: var(--color-base-10);
    }
    
}
