  .workspace-leaf-content.is-read-mode .markdown-preview-view {
    width: 100%;
    left: 0;
    background-color: var(--background-primary);
  }
  .markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
    max-width: var(--file-line-width);
    margin-left: auto;
    margin-right: auto;
  }