.markdown-preview-view {
    background-color: var(--background-primary);
    padding: var(--content-gap);
  }

textarea, input[type=text], input[type=search], input[type=email], input[type=password], input[type=number] {
    background: var(--color-base-05);
}

a.tag,
  .editor .cl-hashtag {
    background-color: var(--color-berry-4); /* #faf8f2 */
    border: 2px solid var(--color-berry-5);
    color: var(--color-base-00);
    line-height: 3;
}

@media (hover: hover) {
    a.tag:hover,
    .editor .cl-hashtag:hover {
        background-color: var(--color-berry-2); /* #faf8f2 */
    }
}
  
@media (min-width: 767px) {
    .content {
        h1 {
            &::before {
                position: absolute;
                left: -1.5em;
                font-size: 0.8em;
            }
        }
        h2 {
            &::before {
                position: absolute;
                left: -1.5em;
                font-size: 0.8em;
            }
        }
        h3 {
            &::before {
                position: absolute;
                left: -1.5em;
                font-size: 0.8em;
            }
        }
        h4 {
            &::before {
                position: absolute;
                left: -1.5em;
                font-size: 0.8em;
            }
        }
        h5 {
            &::before {
                position: absolute;
                left: -1.5em;
                font-size: 0.8em;
            }
        }
        h6 {
            &::before {
                position: absolute;
                left: -1.5em;
                font-size: 0.8em;
            }
        }
    }    
}

.content {
    h1 {
        &::before {
            font-family: "Times New Roman";
            color: var(--color-sky-4);
            content: "h1 ";
        }
    }
    h2 {
        &::before {
            font-family: "Times New Roman";
            color: var(--color-sky-4);
            content: "h2 ";
        }
    }
    h3 {
        &::before {
            font-family: "Times New Roman";
            color: var(--color-sky-4);
            content: "h3 ";
        }
    }
    h4 {
        &::before {
            font-family: "Times New Roman";
            color: var(--color-sky-4);
            content: "h4 ";
        }
    }
    h5 {
        &::before {
            font-family: "Times New Roman";
            color: var(--color-sky-4);
            content: "h5 ";
        }
    }
    h6 {
        &::before {
            font-family: "Times New Roman";
            color: var(--color-sky-4);
            content: "h6 ";
        }
    }
}

